* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  overflow-x: hidden;
}

.utterances {
  max-width: 100% !important;
}

.static-tweet blockquote {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.static-tweet-emoji {
  height: 1.2em !important;
  width: 1.2em !important;
}

#nprogress .bar {
  background-image: linear-gradient(to right, #ffc800, #8fff00) !important;
  height: 6px !important;
}
#nprogress .bar .peg {
  /* This is a funny staircase-like step that looks odd when height of bar is increased to 6px. So just remove it. */
  display: none;
}
#nprogress .spinner .spinner-icon {
  margin-top: 4px;
  border-top-color: #22dd43;
  border-left-color: #067a1b;
  width: 24px;
  height: 24px;
}
ul.notion-list-disc {
  list-style-type: square;
}
ul ul.notion-list-disc {
  list-style-type: '—  ';
}
ul ul ul.notion-list-disc {
  list-style-type: circle;
}

ul ul ul ul.notion-list-disc {
  list-style-type: disc;
}

.notion-aside-table-of-contents-header {
  display: none;
}
.notion-aside-table-of-contents {
  width: 242px;
  /* Only visible on wide screens. But if a heading is super long, we don't want table of contents to be too wide */
}
